name: CD

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: softprops/action-gh-release@v1

  npm-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org/'
      - run: |
          corepack enable
          cp README.md packages/graphql-armor/README.md
      - run: yarn workspaces foreach -ptv run build
      - run: yarn workspace @escape.tech/graphql-armor build
      - run: |
          cd packages/graphql-armor
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
