name: CI
on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 17, 18]
    name: Node ${{ matrix.node }} CI
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Build Armor
        run: yarn workspace @escape.tech/graphql-armor build
      - name: Run lint
        run: yarn workspaces foreach run lint
      - name: Run build
        run: yarn workspaces foreach run build
      - name: Run tests
        if: always()
        run: yarn workspaces foreach run test
