name: CI
on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 17, 18]
    name: Examples Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: | 
          corepack enable
          yarn install
      - name: Lint workspaces
        run: yarn lint
      - name: Build workspaces
        run: yarn workspaces foreach -ptv run build
      - name: Tests workspaces
        run: yarn test:ci
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        if: matrix.node == '16'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pkg-focus:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 17, 18]
    name: Pkg Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: |
          corepack enable
          cp README.md packages/graphql-armor/README.md
      - run: yarn workspaces foreach -ptv run build
      - run: yarn workspace @escape.tech/graphql-armor build
