name: e2e

on:
  push:
    tags:
      - "**/graphql-armor@**"

env:
  YARN_ENABLE_IMMUTABLE_INSTALLS: false

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 18
      - name: Set env
        run: |
          echo "NPM_VERSION=$(${{ github.ref_name }} | cut -c 28-)" >> $GITHUB_ENV
      - name: Install Dependencies
        run: |
          echo $NPM_VERSION

          rm -rf yarn.lock node_modules packages
          corepack enable

          sed -i "s/graphql-armor\": \".\"/graphql-armor\": \"$NPM_VERSION\"/g" examples/*/package.json

          yarn
      - name: Run Tests
        run: |
          yarn test
